[2016-03-13 16:02] mhaidarhanif opened #1 "Generate and improve our ideas"
Let's generate and explain some ideas from us here. :clap:

cc: @muhpatr @rutheodora @ekkyvalent

[2016-03-13 16:04] mhaidarhanif commented on #1
@rutheodora:

[2016-03-13 16:05] mhaidarhanif commented on #1
@muhpatr:

[2016-03-13 16:08] mhaidarhanif commented on #1
@mhaidarh:

[2016-03-13 17:24] mhaidarhanif commented on #1
Our ideas can be discussed here or in WhatsApp chat, then poured into [IDEAS](https://github.com/gunadarma-academy/asde-michi/blob/master/IDEAS.md).

Oke jadi kalo ide gue yang pertama ini mirip Rate My Professors atau Rate My Teachers, tapi lebih buat audiens lokal kayak kita-kita. Fokus utamanya buat anak kuliah tahun/sarjana apapun, buat ngasi _rating_ dan _comment_ yang lebih melokal, tentang

[2016-03-14 11:58] mhaidarhanif commented on #1
@ekkyvalent:

[2016-03-14 12:01] ekkyvalent commented on #1
Jadi di sini bisa buat chatting juga.

Keren sih.

[2016-03-14 12:04] muhpatr commented on #1
Dar, lo ngubah PP github gue ya -_-

[2016-03-14 12:10] mhaidarhanif commented on #1
@ekkyvalent: Iya bahkan ini _real time_ juga. Serta ada _formatting_ dan _edit_ jadi enak bacanya.

@muhpatr: hah Ga mungkin pat gue kan ga login. Kemaren incognito terus langsung ditutup. Mungkin lo lelah.

[2016-03-14 12:11] muhpatr commented on #1
@mhaidarh: oh berarti si junior, karna gue login di pcnya :') btw ini agak ganggu email sih dar, masuk ke email mulu soalnya.

[2016-03-14 12:12] mhaidarhanif commented on #1
@muhpatr: Bisa dinonaktifkan di settings pat.

https://github.com/settings/notifications

Kalau mau lebih efektif lagi, tiap notifikasi di Gmail pindahin ke tab Forums.

[2016-03-14 12:15] mhaidarhanif commented on #1
Btw tips _commit message_ sebagai pengingat kita:

Misalnya:

[2016-03-14 12:31] ekkyvalent commented on #1
@mhaidarh seumur-umur baru aktifin tab forum di Gmail. Haha oke deh thanks for the input.

[2016-03-14 12:38] mhaidarhanif commented on #1
@ekkyvalent: Yo sip. Kalo gue si pake email yang beda juga (git@mhaidarhanif.com) biar kepisah.

[2016-03-14 12:40] muhpatr commented on #1
Jadi pengen punya domain sendiri :')

[2016-03-14 12:43] mhaidarhanif commented on #1
@muhpatr:
Kalau mau paling hemat sekarang `*.xyz` cuma kisaran $2, bisa pake PayPal sendiri atau temen. [Registrar terbaik sekarang di muka bumi ini: https://uniregistry.com]

Tapi kalo email sebaiknya pake SaaS yang gratis (Zoho: https://zoho.com/mail) atau bayar dikit (Google Apps: https://apps.google.com).

[2016-03-14 13:32] ekkyvalent commented on #1
@muhpatr emailnya **patria@michi.com**?

[2016-03-14 15:26] mhaidarhanif opened #2 "Choose a project management and software development methods"
https://github.com/gunadarma-academy/ASDE/blob/master/README.md#references
https://github.com/gunadarma-academy/ASDE/commit/3ac0a8de01f6686bff7700c1bde1f77a2f726560

@gunadarma-academy/michi: Dua link terakhir di _references_ adalah ulasan singkat tentang _software development_ ataupun _project management methods_. Mari dibaca terlebih dahulu lalu kita bahas, sebagai bahan dasar menentukan metode

[2016-03-14 15:40] mhaidarhanif commented on #2
A short visualized conclusions/characteristics about popular PM methods:
![PM](https://cloud.githubusercontent.com/assets/235584/13749808/9798f7a8-ea35-11e5-8388-3215b2ba396a.jpg)

From: https://twitter.com/hiltmon/status/706227739041341441

[2016-03-15 09:06] mhaidarhanif commented on #2
Probably: Lean/Minimal Kanban with GitHub Workflow

[2016-03-16 05:32] mhaidarhanif commented on #1
@ekkyvalent Silakan Anda bisa menutup _issue_ ini dengan komentar atau _commit_ README.

**[TIPS]** Menutup issue dengan _commit_:

https://help.github.com/articles/closing-issues-via-commit-messages

[2016-03-16 06:01] mhaidarhanif opened #3 "Include slide inside main repo"
- Kind: Statement of Work
- Title: Include slide inside main repo
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-16
- Version: 0.1
# SOW
## Overview

Making it easy to make the slide for Michi Team by separating the repo.
## Tasks
- [x] Create `asde-michi-slide` repo at `https://github.com/gunadarma-academy/asde-michi-slide`
- [x] Use `git submodule` or `subrepo`
## Deliverables

Th

[2016-03-16 09:10] #1 closed, assigned to ekkyvalent

[2016-03-16 17:06] mhaidarhanif commented on #2
## Minimal Agile Kanban with GitHub and Waffle, for Project Management of Michi Team

**Agile Principles** or Agile Software Development is a set of principles for software development in which requirements and solutions evolve through collaboration between self-organizing, cross-functional teams. It promotes adaptive planning, evolutionary development, early delivery, and continuous improvement,

[2016-03-16 17:08] mhaidarhanif commented on #2
@ekkyvalent @muhpatr @rutheodora: I've included some details we can read about our project management methods.

[2016-03-16 18:39] #2 closed, assigned to mhaidarhanif

[2016-03-16 18:40] #3 closed, assigned to mhaidarhanif

[2016-03-17 08:07] ekkyvalent opened #4 "Ekky's front end skills enhancement"
- Kind: Statement of Work
- Title: Ekky's front end skills enhancement
- Author: Ekky Pramana
- Affiliation: Michi
- Date: 2016-03-17
- Version: 0.1
# SOW
## Overview

Since my front end knowledge is a little bit rusty I decided to have a little warm up prior to the main task with the help of a lot of sources such as [Codecademy](https://www.codecademy.com/learn). I recommend @rutheodora to check

[2016-03-18 07:43] muhpatr opened #5 "Patria's Node.js learning"
- Kind: Statement of Work
- Title: Patria's Node.js learning
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-03-18
- Version: 0.1
# SOW
## Overview

Since I don't know about Node.Js, I want to learn about this platform via tutorial on some websites.
## Tasks
- [x] install node.js
- [x] learn about node.js (follow the tutorial)
- [x] create a small node.js program
## Deliverables

This

[2016-03-18 09:07] muhpatr commented on #5
I'm starting to learn about JavaScript & Node.JS from this website: http://nodeschool.io/

[2016-03-18 09:38] rutheodora opened #6 "Create a wireframe for Arlin's website"
- Kind: Statement of Work
- Title: Create a wireframe for Arlin's website
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-03-18
- Version: 0.3
# SOW
## Overview

I will create a wireframe for our web project. Later, this wireframe will help @muhpatr and @mhaidarh while developing Arlin's website. The design itself must get @ekkyvalent 's approval first.
## Tasks
- [x] Sketching the wiref

[2016-03-18 10:39] rutheodora opened #7 "Create logo for Arlin"
- Kind: Statement of Work
- Title: Create a branding style and logo design
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-03-18
- Version: 0.5
# SOW
## Overview

Create a branding style and logo design for Arlin's identity and website. I will use Inkscape and Photoshop (if needed) to make it.
## Tasks
- [x] Define the logo style (symbol, text, etc).
- [x] Create some logo variants.
- [x

[2016-03-19 04:40] #5 closed, assigned to muhpatr

[2016-03-19 04:50] muhpatr opened #8 "Patria's Node.js CRUD and MongoDB learning"
- Kind: Statement of Work
- Title: Patria's Node.js CRUD and MongoDB learning
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-03-19
- Version: 0.2
# SOW
## Overview

After learning the basic of Node.js (#5), I'll starting to learn about how to create CRUD (Create, Read, Update, Delete) data function to database (MongoDB) in Node.JS.
## Tasks
- [x] learn about how to install and create

[2016-03-19 05:15] muhpatr commented on #8
I'm starting to create this mini project by following the tutorial on this youtube video:
1. [Part 1](https://www.youtube.com/watch?v=kHV7gOHvNdk)
2. [Part 2](https://www.youtube.com/watch?v=7F1nLajs4Eo)
3. [Part 3](https://www.youtube.com/watch?v=oVIeMfvgTz8)
4. [Part 4](https://www.youtube.com/watch?v=iFsYJG3fGro)
5. [Part 5](https://www.youtube.com/watch?v=06_SIzYXgqQ)

[2016-03-19 10:33] mhaidarhanif commented on #2
[Just in case some of us haven't read all of the above **Minimal Kanban for Project Management of Michi Team**]
cc: @gunadarma-academy/michi

[2016-03-19 10:44] mhaidarhanif opened #9 "Explain the basic features of Arlin v1"
- Kind: Product Definition
- Title: Explain the basic features of Arlin v1
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-19
- Version: 0.1
# Product Definition
## Overview

Define the basic features in the Minimum Viable Product (MVP) of Arlin v1.
## Tasks
- [x] Define in details what's the most important features of Arlin in Product Documentation.
- [x] Explain about initial usern

[2016-03-19 11:03] mhaidarhanif opened #10 "Define and implement the initial data structures of Arlin v1"
- Kind: Statement of Work
- Title: Describe the initial data structures
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-19
- Version: 0.1
# SOW
## Overview

Clearly define and implement the initial data structures that will be used by the app and stored in the database.
## Tasks
- [x] Research and understand how to decide how to manage various document data in forum-like application.

[2016-03-19 11:11] mhaidarhanif commented on #10
## Initial structure for Users, Questions, and Answers

[OBSOLETE, do not refer]

[code]

**Notes:**
We're not using `timestamp` type because it's only for internal use of the database, not for application.

[2016-03-19 11:11] mhaidarhanif commented on #10
@muhpatr @ekkyvalent

We should research and understand how to decide how to manage various document data in forum-like application. This also will affect our app's User Interface, Interaction, and Experience.

Let's rediscover the experience of Haaash and StackOverflow.

[2016-03-19 11:22] mhaidarhanif commented on #9
Let's see this as a reference:
![haaash1](https://cloud.githubusercontent.com/assets/235584/13898306/7bb45578-edff-11e5-8ba6-2b4b9120629e.png)

[This is from http://michi.haaash.com, this new/beta version is kind of different from the previous version of Haaash.]

[2016-03-19 11:29] mhaidarhanif opened #11 "Explain the must have features of Arlin v1"
- Kind: Product Definition
- Title: Explain the must have features of Arlin v1
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-19
- Version: 0.1
# Product Definition
## Overview

Define the must-have features in the Minimum Viable Product (MVP) of Arlin v1.
## Tasks
- [x] Define in details what's the must-have features of Arlin in Product Documentation.
- [x] Explain about accepting

[2016-03-19 11:47] mhaidarhanif opened #12 "Implement the basic features based on the initial data structures"
- Kind: Statement of Work
- Title: Implement the initial data structures
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-19
- Version: 0.1
# SOW
## Overview

Implement the basic features based on the initial data structures. Should prove the data process are working correctly in the app.
## Tasks
### Username
- [x] Implement username assignment ability for a new visitor.
- [x] The vi

[2016-03-19 11:49] mhaidarhanif commented on #9
@gunadarma-academy/michi
To see and experience an actual stable working app of Haaash (not a demo), please visit http://5oopx.haaash.com

[2016-03-19 16:21] mhaidarhanif commented on #7
@gunadarma-academy/michi
Regarding this, it's recommended for us to read any of these short ebooks:
UXPin e-Books https://studio.uxpin.com/ebooks

[2016-03-19 18:02] mhaidarhanif opened #13 "Explain our project management and software development methodologies"
- Kind: Statement of Work
- Title: Explain our project management and software development methodologies
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-20
- Version: 0.1
# SOW
## Overview

Clearly explain our project management and software development methodologies, based on what we have chosen before.
## Tasks
- [x] Edit [`project-management.markdown`](https://github.com/gunadarma

[2016-03-19 18:08] #13 closed, assigned to mhaidarhanif

[2016-03-19 18:21] mhaidarhanif opened #14 "Create initial product documentation"
- Kind: Statement of Work
- Title: Create initial product documentation
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-20
- Version: 0.2
# SOW
## Overview

Clearly explain what the product is and its important features.
This also relates to Explain the basic features of Arlin v1 (https://github.com/gunadarma-academy/asde-michi/issues/9) and Explain the must have features of Arlin v1

[2016-03-19 18:28] mhaidarhanif commented on #11
**[STASHED]**
- [ ] Implement upvote in the voting system.
- [ ] User who's not the question's owner could upvote a question.

[2016-03-19 18:41] #9 closed, assigned to mhaidarhanif

[2016-03-19 18:50] mhaidarhanif commented on #13
@gunadarma-academy/michi
I've put additional details on how would we test our ideas and app to actual users outside of us, later in the middle of Arlin v1 development. We can do this as often as we want. Please see https://github.com/gunadarma-academy/asde-michi/commit/18190fe92342faf6e2ef31ed4e6ccfdd29fbb344.

![Sprint Diagram](http://www.gv.com/sprint/img/sprint-diagram.png)

[2016-03-20 06:50] mhaidarhanif commented on #7
@rutheodora I've slightly updated the overview to meet our needs.

[2016-03-20 07:50] rutheodora commented on #7
okey, thanks for the reference, i've already download "Web UI Design Patterns 2016" e-book, will read it later.

[2016-03-20 07:55] mhaidarhanif commented on #7
@rutheodora I just updated your Deliverables and Assumptions

[2016-03-20 08:09] rutheodora commented on #14
tess

[2016-03-20 08:17] #4 closed, assigned to ekkyvalent

[2016-03-20 08:17] rutheodora commented on #14
jadi gw ma @ekkyvalent , kemaren setuju pokoke gw bikin aja dulu wireframe nya gimana secara manual, trus nnti si ekky nyoba implementasi lgsung buat tampilannya, naah kalo konten yang mau ada di dalemnya kan bareng2 tuh nentuinnya, gw tadi pas awal buat berdasarkan seluruh fitur final yang kira2 bakal ada di web kita ( sampe ada filter ama search gitu2)

naah tapi td berhubung td @mhaidarh bilang

[2016-03-20 08:21] rutheodora commented on #14
kalo engga dari back-end kasi aja dulu kira2 alur sistem nya kayak gmn atau yang fitur yang udah bisa selain yang kita diskusiin kemaren (posting, username, answer), jadi kalo mmg log in dulu, nnti gw bisa bikin log in nya dari landing / main page

[2016-03-20 08:24] rutheodora commented on #14
ohh iya, satu lagi, menurut gw harus ada halaman khusus buat isi list dari question yang ada, soalnya untuk fitur answer, itu akan lebih baik kalo kita list semua isi pertanyaan (yang pastinya di halaman sendiri, ga efektif kalo satu halaman sama halaman lain) , trus baru klik pertanyaan yang mau di jawab (klik di box atau klik title atau klik button "answer"?) mohon perjelas, kalo gw pasti prefer

[2016-03-20 08:25] rutheodora commented on #14
mau coba tes gambar di comment dithub

[979f1775f1373c1a22d3f7043c2f1c20-d4icict](https://cloud.githubusercontent.com/assets/17141470/13903487/f68cccca-eeaf-11e5-99a5-0ae4d4ffb60a.jpg)

[2016-03-20 08:29] mhaidarhanif commented on #14
Kalo di situ berarti ada _flaw_, ntar satu visitor bisa punya banyak username malah.

[2016-03-20 08:30] mhaidarhanif commented on #14
Tentang struktur data, dibahas di https://github.com/gunadarma-academy/asde-michi/issues/10 dan https://github.com/gunadarma-academy/asde-michi/issues/12

Sederhana aja, tiap fitur maksudnya bisa di-set dan di-store. Jadi belum hingga ke experience flow.

[2016-03-20 08:32] mhaidarhanif commented on #14
@rutheodora @ekkyvalent Nah di `product.md` bisa coba diedit, commit, push yang menurut kalian. Dengan rapi ya.

[2016-03-20 08:32] mhaidarhanif commented on #14
Dari sisi backend yang jelas bisa CRUD udah bawaan dari database-nya.

Jadi untuk UI/UX diserahkan ke @rutheodora @ekkyvalent

[2016-03-20 08:33] mhaidarhanif commented on #14
Iya itu betul, secara default visitor/user bisa liat semua questions di landing page.

[2016-03-20 08:35] mhaidarhanif commented on #14
Flow experience seperti Haash saja. Ini contoh jadinya: http://5oopx.haaash.com

Ini sederhananya:

![500px](https://cloud.githubusercontent.com/assets/235584/13903519/87be911e-eeb1-11e5-984a-6e378c6e0ab8.png)

![500px](https://cloud.githubusercontent.com/assets/235584/13903537/18730960-eeb2-11e5-9962-969e09d3b8b6.png)

[2016-03-20 08:38] rutheodora commented on #14
tes quote

[2016-03-20 08:41] mhaidarhanif commented on #14
@rutheodora Screenshot-nya udah gue tambahin.

[2016-03-20 08:41] rutheodora commented on #14
oke kalo gitu ada login dari awal yaaa.

sip, abis dapet persetujuan dari ekky, gw bikin wireframenya di inkscape lalu gw tambahin  product.md

gw bener2 patokin dari sini aja gapapa nih dar?

[2016-03-20 08:42] mhaidarhanif commented on #14
Iya baru landing udah disuruh login. Terus itu persistent selama masi di browser yang sama.

Oke sip

Up to you all. Kebetulan karena Stack Overflow, Haaash, Ask.fm desainnya udah teruji, bisa jadi patokan utama.

[2016-03-20 08:46] mhaidarhanif commented on #14
@rutheodora Btw sebenarnya gapapa punya versi desain yang complete dengan search, tag, filter. Tapi itu disimpen buat nanti aja di https://github.com/gunadarma-academy/asde-michi/issues/11 karena bahkan fitur awal aja beluman.

[2016-03-20 08:47] mhaidarhanif commented on #14
@rutheodora @ekkyvalent Atau coba karena ini _design decision_, kalian bisa diskusi dan bandingin ketiga pelopor tersebut, _pros and cons_.

[2016-03-20 08:47] rutheodora commented on #14
@mhaidarh sip2 soalnya gw biasa bikin wireframe buat prototipe, jdi semua udah ada dari awal, jadi tinggal ngasi penjelasan, fitur yang ini berlum berjalan de el el

[2016-03-20 08:50] mhaidarhanif commented on #14
@rutheodora Nah, untuk yang udah muncul semua di awal atau agak prototype bisa aja abis ini. Kita bakal pake Invision atau sejenis biar bener-bener kerasa real banget.

A prototype methodology is the software development process which allows developers to create only the prototype of the solution to demonstrate its functionality to the clients, and make necessary modifications before developing th

[2016-03-20 08:54] ekkyvalent opened #15 "Design initial static website pages"
- Kind: Statement of Work
- Title: Design initial static website pages
- Author: Ekky Pramana
- Affiliation: Michi
- Date: 2016-03-20
- Version: 0.1
# SOW
## Overview

To get a better understanding of the whole UI and UX design of Alin's website, I need to design the site's pages corresponded with the wire frame and color palette discussed in Issue [#6](https://github.com/gunadarma-academy/asde-mi

[2016-03-20 09:37] #14 closed, assigned to mhaidarhanif

[2016-03-20 09:39] rutheodora commented on #6
guyss @ekkyvalent  @mhaidarh  @muhpatr
tolong cek wireframe manual di whatsap, begitu setuju gw langsung ke inkscape

[2016-03-20 09:47] mhaidarhanif commented on #6
Ntar @ekkyvalent bisa bantu untuk rapiin aset.

Ohya @rutheodora bisa bikin dulu design assets-nya, terus commit tapi sebaiknya di branch berbeda (misalnya branch `wireframe`). Jadi @ekkyvalent @rutheodora bisa diskusiin dan rapiin dulu aset-nya sebelum masuk `master`.

[2016-03-20 10:28] #8 closed, assigned to muhpatr

[2016-03-20 10:54] mhaidarhanif commented on #15
@ekkyvalent
Popular frontend design framework options:
- http://getbootstrap.com
- http://foundation.zurb.com
- http://semantic-ui.com
- http://purecss.io

[2016-03-20 12:48] mhaidarhanif commented on #7
Useful references:
- https://medium.com/search?q=designing%20logo
- https://medium.com/@whycaniuse/logo-specification-the-modern-process-b285a9cfaa9e
- https://medium.com/art-marketing/a-designers-guide-to-creating-logo-files-ab91f05c72c4
- http://blog.hubspot.com/marketing/creating-logos-design-process
- http://www.thedesigncubicle.com/2009/05/11-steps-of-a-successful-logo-design-process

[2016-03-20 13:24] mhaidarhanif opened #16 "Specify team member roles"
- Kind: Statement of Work
- Title: Specify team member roles
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-20
- Version: 0.1
# SOW
## Overview

Each team members should be specified by their main tasks/works.
## Tasks
- [x] Put the main team member roles column in Team Member section of `README`.
- [x] Clearly write each member roles.
- [x] Explain again about light/rapid Holacracy

[2016-03-20 13:57] mhaidarhanif commented on #2
### Semantic Versioning

**Semantic Versioning** is a simple set of rules and requirements that dictate how version numbers are assigned and incremented. These rules are based on but not necessarily limited to pre-existing widespread common practices in use in both closed and open-source software. Under this scheme, version numbers and the way they change convey meaning about the underlying code a

[2016-03-21 15:22] #16 closed, assigned to mhaidarhanif

[2016-03-21 15:31] mhaidarhanif commented on #1
@gunadarma-academy/michi

[2016-03-22 07:09] mhaidarhanif commented on #15
@ekkyvalent: Having some achievement or difficulty? Share your experience here.

[2016-03-22 10:02] mhaidarhanif opened #21 "Tidy up various submodules"
- Kind: Statement of Work
- Title: Tidy up various submodules
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-22
- Version: 0.1
# SOW
## Overview

Tidy up various submodules that include the slide, app, and the web. Because we're now have several repos:
- https://github.com/gunadarma-academy/asde-michi
- https://github.com/gunadarma-academy/asde-michi-app
- https://github.com/gunadar

[2016-03-22 10:32] #21 closed, assigned to mhaidarhanif

[2016-03-22 11:43] #6 closed, assigned to rutheodora

[2016-03-23 01:49] mhaidarhanif opened #23 "Explain backend application repo with comprehensive README"
- Kind: Statement of Work
- Title: Explain application repo with comprehensive README
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-23
- Version: 0.1
# SOW
## Overview

We need to understand the application repo (asde-michi-app), by just reading the comprehensive README. Things like:
- What it is (including resources).
- How to install dependencies, run the project, develop with gi

[2016-03-23 04:08] rutheodora commented on #7
hasil rancangan logo (akan divoting nanti)

![g4469](https://cloud.githubusercontent.com/assets/17141470/13975400/88913d20-f0e7-11e5-833a-73e9ce5f9451.png)

[2016-03-23 04:55] rutheodora commented on #7
Pallete webnya:
![pallete buat webnya](https://cloud.githubusercontent.com/assets/17141470/13975999/00c6b422-f0ee-11e5-96bb-9eb5d4aef22e.png)

hex color:
1. 96ca2dff
2. b5e655ff
3. edf7f2ff
4. 4bb5c1ff
5. 7fc6bcff

@ekkyvalent

[2016-03-23 09:17] rutheodora opened #25 "Explain the specifications of Arlin logo"
- Kind: Statement of Work
- Title: Explain the specifications of Arlin logo
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-03-23
- Version: 0.3
# SOW
## Overview

Define the logo specifications and explain the meaning from its shape and color
## Tasks
- [x] Define the logo specifications in Logo Design Specifications
- [x] Explain the logo
- [x] List the hex color of Arlin logo
- [x] Se

[2016-03-23 09:22] rutheodora commented on #7
@ekkyvalent @muhpatr @mhaidarh: berdasarkan vote, ini logo yang terpilih yaa, udah gw pull request ke repo kita juga.
![g5532](https://cloud.githubusercontent.com/assets/17141470/13980851/5d8aa090-f113-11e5-8f0b-5a42163d5a7d.png)

sengaja gw kasi bg item biar keliatannn.

[2016-03-24 17:42] #7 closed, assigned to rutheodora

[2016-03-24 18:21] mhaidarhanif commented on #15
@ekkyvalent: I've pushed a medium update.
See release v0.2.1: https://github.com/gunadarma-academy/asde-michi-web/tree/v0.2.1

[2016-03-24 18:25] mhaidarhanif commented on #25
@rutheodora: Check out this very short branding page https://getgrav.org/media

[2016-03-24 18:25] mhaidarhanif commented on #7
@rutheodora: Check out this very short logo page https://getgrav.org/media

[2016-03-24 19:10] rutheodora commented on #25
Udah dicek @mhaidarh jadi maksud lo mending yang bagian desciption gw pisahin berdasarkan symbol ama text tapi yang lain tetep ada atau apus semua trus bikin kayak yang punya getgrav itu?

[2016-03-24 19:22] mhaidarhanif commented on #25
@rutheodora Iya kalau sempat aja dipisahin. Cukup duplikat dan edit SVG-nya.
Jadi bisa ada:
- symbol + text: 400x200 px
- symbol only: 150x200 px
- text only: 250x200 px

https://getgrav.org/user/pages/media/grav-logos.zip

Ohya tadi gue optimasiin warnanya. Jadi bisa kontras enak di atas hitam ataupun putih. Pake green, cyan blue, blue gray 500.

[2016-03-24 19:25] mhaidarhanif commented on #25
@rutheodora Coba Uthe berpendapat apakah Branding Design dan Logo Design dipisahin atau digabung saja.

Kalau digabung, Logo Design ada di dalam/bawah Branding Design. Branding lebih luas, seperti bahasa dan _culture_. Kalau logo hanya bagian grafisnya aja kan.

http://gistbrands.net/brand-vs-logo
http://gomedia.com/zine/insights/difference-between-logo-design-and-branding
http://betterbusinessbra

[2016-03-24 19:58] rutheodora commented on #25
@mhaidarh: udah baca, gw udah ngerti konsepnya, tapi gw mau mastiin penulisan laporannya mau gimana point2nya kalo seandaikan gw pisah, berarti isi logo spec cuma gambar logo berbagai ukuran
trus
yang di branding spec kan ada Shape, Color, Typography kalo pengertian gw:
shape: ngejelasin hubungan logo ama service/product kita (huruf A sama perempatan?)
color: pengertian warna yang gw pake
typograp

[2016-03-24 20:38] mhaidarhanif commented on #25
@rutheodora:
Iya bisa begitu, logo spec lebih teknis seputar logo.
Lalu branding spec lebih luas, yang akan orang pandang terhadap kita (atau Arlin dalam hal ini)

Brand –The perceived emotional corporate image as a whole.
Identity – The visual aspects that form part of the overall brand.
Logo – Identifies a business in its simplest form via the use of a mark or icon.
http://justcreative.com/2010/

[2016-03-24 20:40] mhaidarhanif commented on #25
Koreksi: yang gue di BRAND-SPEC sekarang agak kurang tulisannya memang.
Di BRAND-SPEC sebenarnya cukup ngebahas _style_-nya aja dibanding harus nyebutin spesifik _apa_-nya aja. Jadi lebih abstrak, lebih banyak cerita dan mendesain User Experience (UX).

Sedangkan di LOGO-SPEC lebih konkrit. Ada bentuk dasar, nama serta kode font dan warna, rasio ukurannya. Lebih banyak tampilan dan mendesain User

[2016-03-24 20:43] mhaidarhanif commented on #25
Analoginya gini:

Branding menceritakan bahasa yang kita mau itu... kuat namun lembut dan penuh pengertian, memahami situasi terkini dengan cara yang kolaboratif; warna yang dipakai setara dengan kombinasi atau pilihan aneka jalur/pemandangan lalu lintas.

Logo menyajikan branding yang kita mau itu... bernama Arlin, jenis tulisannya seperti jalan raya yang tersambung menggunakan font ini, warnanya

[2016-03-24 20:45] mhaidarhanif commented on #25
Coba dilanjut dulu ya. Ini berhubungan sama user research yang akan lo lakukan. Kita bisa tau bagaimana pengguna memandang kita, Arlin, dan pengalaman menggunakan aplikasi nantinya.

Ukuran kesuksesan aplikasi kita sejatinya adalah; pengguna mengerti, terbantu, dan _happy_.

cc: @gunadarma-academy/michi

[2016-03-25 02:21] mhaidarhanif commented on #15
DOM & style references:
http://semantic-ui.com/examples/homepage.html
http://tcvalentine.com/semantic-themes/minimal-slide/index.html

[2016-03-26 07:46] #23 closed, assigned to mhaidarhanif

[2016-03-27 08:55] mhaidarhanif opened #26 "Explain backend application API and data schema design of Arlin v1"
- Kind: Statement of Work
- Title: Explain backend application API and data schema design
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-27
- Version: 0.1
# SOW
## Overview

[What is the objective/goal is of this work]
The needs to understand the API design (through Hapi, or even Swagger) we want to build, also correspond to data schema we want to use in our database (MongoDB, docum

[2016-03-27 08:56] #10 closed, assigned to mhaidarhanif

[2016-03-27 08:56] #26 closed, assigned to mhaidarhanif

[2016-03-27 09:08] mhaidarhanif opened #27 "Prepare domain registry and VPS for deployment pipeline"
- Kind: Statement of Work
- Title: Prepare domain registry and VPS for deployment pipeline
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-27
- Version: 0.3
# SOW
## Overview

Arlin backend as a node application will be deployed live to the server and connected to the Internet. We're using `arlin.link` as the main production website. Followed by `dev.arlin.link` and `staging.arlin.li

[2016-03-27 13:22] mhaidarhanif commented on #1
@gunadarma-academy/michi
Some inspirational and practical advice about building or developing product:
- [Talking to Humans: Success starts with understanding your customers, by Giff Constable](http://talkingtohumans.com) (Free Ebook)
- http://www.talkingtohumans.com/cartoons
- http://giffconstable.com/2016/03/getting-tactical-product-team-working-agreements
- http://giffconstable.com/2016/03/good

[2016-03-27 14:03] muhpatr opened #28 "Create Twitter login feature"
- Kind: Statement of Work
- Title: Create twitter login feature
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-03-27
- Version: 0.2
# SOW
## Overview

Arlin's user must be authenticated to the application via twitter. So, the twitter login feature must be created first before starting to make a basic feature.
## Tasks
- [x] Create Arlin's Twitter application API through <apps.twitter.

[2016-03-27 14:08] muhpatr commented on #28
The Arlin's twitter application have been created using my own twitter account. The application link is [here](https://apps.twitter.com/app/12129212/show). The application just need the read-only permission to get the username.

[2016-03-27 14:17] mhaidarhanif commented on #28
@muhpatr Next time, I think we should have all accounts related to Michi Arlin centralized. Supposedly creating a new Google Account (arlinbymichi@gmail.com or such). Because using personal account is _not authorized to use this endpoint_ by outside user. Needed for deployment in the future with CI/CD SaaS or PaaS as well. Let's discuss this by tomorrow.

cc: @gunadarma-academy/michi

[2016-03-27 14:20] muhpatr commented on #28
@mhaidarh I think, using the arlin.link mail account would be great. :)

[2016-03-27 14:22] mhaidarhanif commented on #28
@muhpatr That's easy. Working on it. :+1: But unfortunately, the best email app interface in the world is Gmail or Google Apps, so we still need Google Account to manage the email.

[2016-03-27 14:29] mhaidarhanif opened #29 "Create email account on arlin.link"
- Kind: Statement of Work
- Title: Create email account on arlin.link
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-03-27
- Version: 0.1
# SOW
## Overview

Create a centralized email account on arlin.link for various purposes. Email and Twitter are the main priorities.
## Tasks
- [x] Create Google Account: arlin.by.michi@gmail.com
- [x] Verify domain in Zoho through CloudFlare with CN

[2016-03-27 14:32] mhaidarhanif commented on #28
Related to "Create email account on arlin.link" https://github.com/gunadarma-academy/asde-michi/issues/29

[2016-03-27 14:46] muhpatr commented on #28
@mhaidarh Please check my on-progress work (4-of-5 have just been done), I've been pushed it to my own repository. Hopefully, it is what our project needed.

[2016-03-27 14:49] muhpatr commented on #28
@mhaidarh Need to meet you to do store-to-database work. Because it is depending on the data structures (#10). There is something to be changed on the data structures, I think.

[2016-03-27 14:57] muhpatr commented on #29
@mhaidarh I want patr@arlin.link as my Arlin's mail account. Hehehe.

[2016-03-27 15:11] mhaidarhanif commented on #29
@muhpatr "Hehehe" banget pat? :)))

[2016-03-27 15:15] #29 closed, assigned to mhaidarhanif

[2016-03-27 18:28] mhaidarhanif commented on #27
Earliest setup attempts in local:

![npm-start](https://cloud.githubusercontent.com/assets/235584/14067009/5f09942a-f484-11e5-924b-0ab834455718.png)
![arlin-hello](https://cloud.githubusercontent.com/assets/235584/14067005/4d6d8776-f484-11e5-9a60-4eebf6943299.png)
![arlin-users](https://cloud.githubusercontent.com/assets/235584/14067006/526054fc-f484-11e5-93ad-8a0af1f64d01.png)

[2016-03-27 18:29] mhaidarhanif commented on #27
Mid attempts that have various problems (actually):

![setup-1-client](https://cloud.githubusercontent.com/assets/235584/14067012/7a4328b4-f484-11e5-8eb0-8a87ef720e74.png)
![setup-2-server](https://cloud.githubusercontent.com/assets/235584/14067013/7c96c1de-f484-11e5-9ddd-edccc50474d9.png)
![setup-3-client](https://cloud.githubusercontent.com/assets/235584/14067015/85abeace-f484-11e5-9b04-7f28c872

[2016-03-27 18:30] mhaidarhanif commented on #27
Successful attempts that finally work safely:

![resetup-1-client](https://cloud.githubusercontent.com/assets/235584/14067025/a20fa5fc-f484-11e5-9814-382fc8613f93.png)
![resetup-2-client](https://cloud.githubusercontent.com/assets/235584/14067026/a23a33d0-f484-11e5-996c-933e13cd8eda.png)
![resetup-3-server](https://cloud.githubusercontent.com/assets/235584/14067027/a23e96b4-f484-11e5-8ed5-9d98dad2

[2016-03-27 18:31] mhaidarhanif commented on #27
@muhpatr I've published my actual attempts on deployment above.

[2016-03-27 18:38] #27 closed, assigned to mhaidarhanif

[2016-03-27 18:41] mhaidarhanif commented on #28
@muhpatr I'm just starting to check out your work.

Hati-hati pat itu `dev_config.json` jangan sampai ke-commit dan ke-push. Soalnya itu credentials, bahkan levelnya lebih tinggi kalau bukan sama dengan password.

[2016-03-27 18:43] mhaidarhanif commented on #28
@muhpatr Please check API and DATA SCHEMA in `asde-michi-app`
https://github.com/gunadarma-academy/asde-michi-app/blob/master/API.markdown
https://github.com/gunadarma-academy/asde-michi-app/blob/master/DATA-SCHEMA.markdown

The "Initial structure for Users, Questions, and Answers" in that https://github.com/gunadarma-academy/asde-michi/issues/10 is already obsolete.

About the user data from Twit

[2016-03-28 12:34] rutheodora commented on #25
@mhaidarh darr, yang di pull req, yang logo spec, bagian colornya ke bold semua, lupa gw tutup  boldnya :( gw masih pake < B > pas ngedit td hihihi

[2016-03-28 12:35] rutheodora commented on #25
@mhaidarh btw kaya gini bukan buat logo specnya? kalo iya gw mau tutup issue trus lanjut branding

[2016-03-28 15:03] mhaidarhanif commented on #25
@rutheodora Sip itu sudah cukup kaya gitu. Silakan tutup issue ini ya.

[2016-03-29 04:43] rutheodora commented on #25
doneeee~

[2016-03-29 04:43] #25 closed, assigned to rutheodora

[2016-03-29 06:43] rutheodora opened #32 "Determine templates for master test plan"
Quick SOW: Determine templates for master test plan
# TUGAS & UJIAN MATA KULIAH TESTING DAN IMPLEMENTASI SISTEM
1. Pembuatan dokumen "Master Test Plan berdasarkan "User Requirement" masing-masing kelompok (gunakan template).
2. Pembuatan Dokumen "Skenario Test" berdasarkan "Master Test Plan" yang dibuat (Metode tidak hanya black box, jika tidak sempat, acceptance test boleh diabaikan dulu).
3. Mel

[2016-03-29 06:45] rutheodora commented on #32
summon: @mhaidarh @muhpatr @ekkyvalent

[2016-03-29 07:15] rutheodora commented on #32
referensi untuk testing: Design Sprint Methods

https://developers.google.com/design-sprint/downloads/DesignSprintMethods.pdf

[2016-03-29 07:52] mhaidarhanif commented on #2
@gunadarma-academy/michi
I've put additional details on how would we test our ideas and app to actual users outside of us, later in the middle of Arlin v1 development. We can do this as often as we want. Please see https://github.com/gunadarma-academy/asde-michi/commit/18190fe92342faf6e2ef31ed4e6ccfdd29fbb344.

![Sprint Diagram](http://www.gv.com/sprint/img/sprint-diagram.png)

References:
- http:

[2016-03-29 07:55] mhaidarhanif commented on #32
@gunadarma-academy/michi Please see the new created repo for this particular purpose: https://github.com/gunadarma-academy/asde-michi-test

[2016-03-29 08:00] rutheodora opened #33 "Complete Brand Specification document"
- Kind: Statement of Work
- Title: Complete Brand Specification document
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-03-29
- Version: 0.2
# SOW
## Overview

Describe the branding of Arlin
## Tasks
- [x] Describe Arlin
- [x] Describe its shape (from logo and template web)
- [x] Describe color/the psychology of color and typography (from logo and the web)
## Deliverables

will be done

[2016-03-29 08:01] rutheodora commented on #33
@ekkyvalent : kalo ada bahasa indonesia, mungkin bisa di translate oleh Anda.
ohohohohohohohohohohohohohohohohohohohohohohohohohoohohohohoho

[2016-03-29 13:59] #32 closed, assigned to rutheodora

[2016-03-29 14:01] mhaidarhanif commented on #32
@rutheodora @muhpatr @ekkyvalent Oke jadi mau pilih yang berbasis dari northwestern.edu atau tmap.net?

Ntar ngerjainnya di https://github.com/gunadarma-academy/asde-michi-test pake Markdown ya.

[2016-03-29 14:21] rutheodora commented on #32
@mhaidarh eehh itu cuma contoh yang kita temuin tadi dar, kalo ada template lain yang lebih cocok kita belum cari2 lgi td

[2016-03-29 14:33] mhaidarhanif commented on #32
@rutheodora Sebenernya gapapa kita ngadopsi konten dokumen itu. Bahkan bisa digabung sama https://www.uxpin.com/usability-test-kit.html

Karena metode Design Sprint fleksibel tentang bagaimana kita nulis dokumen laporannya. Yang penting esensinya terlaksana.

[2016-03-29 15:30] mhaidarhanif commented on #32
@gunadarma-academy/michi Kebetulan yang dari Northwestern lebih pendek dan intuitif untuk dipahami. Langsung pilih ini aja ya.

[2016-03-29 17:25] mhaidarhanif commented on #2
Related to "Remote versus Co-located Work": http://martinfowler.com/articles/remote-or-co-located.html

[2016-03-30 07:41] mhaidarhanif commented on #28
@muhpatr [Follow Up Bump]

Kalo dianggap udah selesai, di-close ya pat. Lalu kita bisa fokus aja di https://github.com/gunadarma-academy/asde-michi/issues/12: Implement the basic features based on the initial data structures.

[2016-03-30 07:42] mhaidarhanif commented on #32
@rutheodora Cek untuk clone/pull https://github.com/gunadarma-academy/asde-michi-test ya the.

[2016-03-30 07:45] mhaidarhanif commented on #33
@rutheodora Ntar kalo ini udah selesai, lanjut untuk cek https://github.com/gunadarma-academy/asde-michi/issues/32 (master test plan) ya the.

Atau bisa lihat langsung di https://github.com/gunadarma-academy/asde-michi-test

[2016-03-30 07:49] mhaidarhanif commented on #32
@gunadarma-academy/michi
Karena ini prioritasnya agak rendah, baru bisa beneran dijalanin dan mungkin saja juga bikin SOW baru setelah mockup dan API jadi, maka pelajari dulu aja hal-hal yang mau dites. Berdasarkan template master test plan dan design sprint. :+1:

References:
- http://www.gv.com/sprint
- https://developers.google.com/design-sprint/downloads/DesignSprintMethods.pdf
- https://twitt

[2016-03-30 17:26] muhpatr commented on #28
@mhaidarh Sudah selesai dengan sedikit perubahan. _id di collection 'Users' nilainya sama dengan twitter_id dari pengguna (Refer to #12). Move on to the next SOW!

[2016-03-30 17:26] #28 closed, assigned to muhpatr

[2016-03-30 17:28] mhaidarhanif commented on #28
@muhpatr Pat lo dokumentasiin bagaimana initialize database & collection MongoDB-nya. Jadi abis orang clone/pull punya lo, mesti prepare apa.

[2016-03-30 17:28] mhaidarh commented on #28
Jadi abis orang clone/pull punya lo, mesti prepare apa.

[2016-03-30 17:30] mhaidarhanif commented on #28
@muhpatr Yang paling terbaru banget udah di-push?

[2016-03-30 17:37] muhpatr commented on #28
@mhaidarh Belum di-push, masih dirapihin. Dokumentasi ttg initialize database dan collection nanti ditaruh di repo pribadi aja dulu ya.

[2016-03-30 17:39] muhpatr commented on #28
@mhaidarh Saat ini sedang cari tahu gimana caranya simpan data tanggal ke mongoDB

[2016-03-30 17:39] mhaidarhanif commented on #12
Hapi Boilerplates:
- http://hapijs.com
- https://github.com/glennjones/hapi-swagger
- https://github.com/dave-irvine/node-hapi-raml
- https://github.com/p-meier/hapi-rest-mongo
- https://github.com/agendor/sample-hapi-rest-api
- https://github.com/rcorral/hapi-restful-api-example
- https://github.com/raquo/minimal-hapi-react-webpack
- https://github.com/aduis/generator-hapi-rest-api
- https://gith

[2016-03-30 17:40] muhpatr commented on #28
@mhaidarh ternyata cuma new Date() -___-

[2016-03-30 17:42] mhaidarhanif commented on #28
@muhpatr Oke yang penting kita ada catatan gimana pake repo dengan database-nya. Karena metode lo dan gue bisa jadi lumayan beda caranya.

[2016-03-30 17:45] mhaidarhanif commented on #28
@muhpatr Barusan gue nemu contoh:
https://github.com/p-meier/hapi-rest-mongo

[2016-03-30 17:47] muhpatr commented on #28
@mhaidarh Dar, Tenang. Gue juga refer ke web itu buat bikin API. HAHAHAHA :")

[2016-03-30 17:59] muhpatr commented on #28
@mhaidarh Sudah di push ke repo gue ya. Sudah pull request juga ke repo asde-michi-app yang utama.

[2016-03-30 18:09] mhaidarhanif commented on #28
@muhpatr hahahah Iya gue nyadarin lagian tipikal gitu. Kayak sedih. hahah.
Oke sip.

[2016-03-31 13:38] rutheodora commented on #33
@mhaidarh: ini gw udah jabarin brandingnya di https://github.com/gunadarma-academy/asde-michi/blob/master/design/brand/BRAND-SPEC.markdown maaf nyampur bahasa inggris indo, ini belum final, finalnya bersamaan sama mockup selesai tpi intinya point2 yang mau gw bahas udah dar.
mohon dikoreksi, maaf gw kalo ada yang ga sesuai :"" gw besok baru buka laptop lagi dar, badan gw ga enak tiba2 , lo juga ja

[2016-03-31 13:40] rutheodora commented on #33
@ekkyvalent : kyy, dicek yaa ky, ini fontnya nambah satu, yang proxima itu, kalo ada tambahan font lain yang mau lo pake karena keliatannya cocok pas nyoba2, wa aja, nnti gw tambahin di dokumentasi

trus kalo bisa lo tambahanin di dokumentasi yang bagian "What is unique about your Arlin? Why should people choose your Arlin? " gw mati ide https://github.com/gunadarma-academy/asde-michi/blob/master/

[2016-03-31 14:05] muhpatr opened #34 "Create API for posting and showing the questions"
- Kind: Statement of Work
- Title: Create API for posting and showing the questions
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-03-31
- Version: 0.3
# SOW
## Overview

All Arlin visitor can see all questions. After logged in to Arlin via Twitter, user can post the question. Thus, I will create API for showing all questions, and posting the question from the authenticated user.
## T

[2016-03-31 14:42] mhaidarhanif commented on #33
@rutheodora Sip sip. Gapapa yang penting progress.

[2016-03-31 14:43] mhaidarhanif commented on #34
@muhpatr Sering-sering pas tiap lo commit langsung di-push ya pat. :+1:

[2016-03-31 15:00] mhaidarhanif commented on #34
@muhpatr Sama inget terus untuk `pull upstream`.
"Your branch is 2 commits behind `gunadarma-academy:master`."

[2016-03-31 17:23] mhaidarhanif opened #35 "Explore solution or alternative for deployment"
- Kind: Statement of Work
- Title: Explore solution or alternative for full stack deployment
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-04-1
- Version: 0.1
# SOW
## Overview

In the end of the first iteration of our application, we need to deploy our app properly. Using separated pipeline (development/staging/production) is okay, but it's still just for the Node backend. We have to

[2016-04-01 19:11] mhaidarhanif commented on #12
References:
- http://hapijs.com/tutorials/auth
- https://phraseapp.com/blog/posts/best-practice-10-design-tips-for-apis
- http://blog.mwaysolutions.com/2014/06/05/10-best-practices-for-better-restful-api
- http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api

[2016-04-06 10:28] mhaidarhanif commented on #34
@muhpatr You can close this issue for now.

[2016-04-06 10:40] #34 closed, assigned to muhpatr

[2016-04-06 11:02] muhpatr commented on #34
This work has not been done yet, since I'm facing some problem with node.js. Sorry for that.
This work will be continued by @mhaidarh.

[2016-04-06 11:07] mhaidarhanif commented on #34
Affirmative.

[2016-04-06 11:15] muhpatr opened #36 "Fill out Master Test Plan document (part A)"
- Kind: Statement of Work
- Title: Fill out Master Test Plan document
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-04-07
- Version: 0.2
# SOW
## Overview

Create Master Test Plan document for the first version of Arlin. I will work with @rutheodora to create this document. The document adapted from [Master Test Plan (v061111) by Northwestern University Information Technology](http:/

[2016-04-06 11:20] mhaidarhanif commented on #36
cc: @rutheodora

[2016-04-07 04:13] rutheodora opened #37 "Fill out Master Test Plan document (part B)"
- Kind: Statement of Work
- Title: Fill out Master Test Plan document
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-04-07
- Version: 0.2
# SOW
## Overview

Create Master Test Plan document for the first version of Arlin. I will work with @rutheodora to create this document. The document adapted from [Master Test Plan (v061111) by Northwestern University Information Technology](http://w

[2016-04-07 04:40] rutheodora commented on #36
@mhaidarh dar. kita yg ga diperluin skrg itu yg mana ya? unit test, functional, atau integration?

[2016-04-07 06:56] mhaidarhanif commented on #36
Selain UAT, belum diperluin yang itu.
On Thu, Apr 7, 2016 at 11:40 Ruth Theodora notifications@github.com wrote:

[2016-04-07 07:11] muhpatr opened #38 "Create scenario test document for Login and Logout feature"
- Kind: Statement of Work
- Title: Create Scenario test document for Login and Logout features
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-04-07
- Version: 0.2
# SOW
## Overview

Create Scenario test for Login and Logout feature using [Gherkin syntax](https://cucumber.io/docs/reference). This test based on some scenario condition for Login and Logout feature.
## Tasks
- [x] Define

[2016-04-07 07:17] muhpatr commented on #38
login.feature

[code]

[2016-04-07 07:18] muhpatr commented on #38
`logout.feature`

[code]

[2016-04-07 07:21] rutheodora opened #39 "Create scenario test document for main features"
- Kind: Statement of Work
- Title: Create Scenario test document for Posting Answer, Posting Question Feature, Retrieve Questions, and Retrieve Question’s Answers features
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-04-07
- Version: 0.2
# SOW
## Overview

Create Scenario test for Posting Answer, Posting Question Feature, Retrieve Questions, and Retrieve Question’s answers feature usi

[2016-04-07 07:21] muhpatr commented on #38
cc: @mhaidarh @rutheodora
Please, check my work.

And also, I want to ask a question, is this Scenario test document will be splitted by each features or will be merged in one document? Can you create one Scenario test template document that have been styled by Markdown to match the template by Gherkin?

[2016-04-07 07:23] rutheodora commented on #39
`post_question.feature`

[code]

[2016-04-07 07:24] rutheodora commented on #39
`post_answer.feature`

[code]

[2016-04-07 07:25] rutheodora commented on #39
`list_questions.feature`

[code]

[2016-04-07 07:26] rutheodora commented on #39
`list_questions_answers.feature`

[code]

[2016-04-07 07:39] rutheodora commented on #39
@mhaidarh @muhpatr : cek yang ini juga yaw :3

[2016-04-07 09:41] muhpatr commented on #36
@mhaidarh I and @rutheodora need help for defining test inputs/outputs. Can you fill this section in the document, later?

[2016-04-07 09:43] muhpatr commented on #38
cc: @mhaidarh _try to mention again_

[2016-04-07 09:45] rutheodora commented on #37
@mhaidarh, @ekkyvalent for User Interface Test on Test Strategy section, please help us by providing/describing the explanation

@muhpatr

[2016-04-07 09:50] rutheodora commented on #33
HELP ME TO TRANSLATE THE BRAND SPEC DOCUMENT @muhpatr ohohoho

[2016-04-07 09:53] mhaidarhanif commented on #36
Yes I can
On Thu, Apr 7, 2016 at 16:41 Muhammad Patria notifications@github.com
wrote:

[2016-04-07 09:53] mhaidarhanif commented on #37
Roger that
On Thu, Apr 7, 2016 at 16:45 Ruth Theodora notifications@github.com wrote:

[2016-04-07 10:24] mhaidarhanif commented on #36
@muhpatr @rutheodora Test input dan output saat ada step _Given_ dan _Then_, pada awal dan akhir tiap scenario dalam feature. Jadi sebenernya bisa diserahin ke _feature files_. Tinggal bilang semua test input/output tersebut ada di dalam dokumen terpisah.

[2016-04-07 10:29] mhaidarhanif commented on #38
@muhpatr Already checked and modified.

[2016-04-07 10:30] mhaidarhanif commented on #38
@muhpatr All scenarios in each feature are all combined in one document. We just need to separate each features in separated documents. They don't need Markdown syntax.

[2016-04-07 10:34] rutheodora opened #40 "Create and fill out the UAT document for survey questionnaire (part A)"
- Kind: Statement of Work
- Title: Create and fill out the UAT document for survey questionnaire
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-04-07
- Version: 0.1
# SOW
## Overview

Prepare all the questions before doing the UAT test. I will work with @muhpatr to create this document.
## Tasks
- [ ] Make questions based on User Interface of Arlin
- [ ] Make questions based on Content

[2016-04-07 10:35] rutheodora opened #41 "Create and fill out the UAT document for survey questionnaire (part B)"
- Kind: Statement of Work
- Title: Create and fill out the UAT document for survey questionnaire
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-04-07
- Version: 0.1
# SOW
## Overview

Prepare all the questions before doing the UAT test. I will work with @rutheodora to create this document.
## Tasks
- [x] Make questions based on User Interface of Arlin
- [x] Make questions based on Con

[2016-04-07 10:38] mhaidarhanif commented on #39
@rutheodora Already checked and modified.

[2016-04-07 10:44] rutheodora commented on #36
@mhaidarh @muhpatr okeey, berarti isinya paragraf singkat doang ya nantinyaa yang buat ngarahin ke dokumen skenario

[2016-04-07 10:50] mhaidarhanif commented on #36
@rutheodora Iya bisa kita adaptasikan seperti itu.

[2016-04-07 11:24] ekkyvalent commented on #33
@rutheodora I've translated the brand spec document, please look up to it.

[2016-04-07 12:23] rutheodora commented on #37
@mhaidarh : untuk yang **Define test inputs/outputs** mungkin bisa diserahkan ke haidar untuk pengisiannya

[2016-04-07 12:32] mhaidarhanif commented on #37
@rutheodora I/O test ada di tiap awal dan akhir scenario, pada saat Given dan Then.

[2016-04-07 12:52] rutheodora commented on #39
`post_question.feature`

[code]

Title Description

[2016-04-07 12:55] mhaidarhanif commented on #39
@rutheodora Di atas bahkan udah gue modif the.
https://github.com/gunadarma-academy/asde-michi/issues/39#issuecomment-206734132

[2016-04-07 12:56] rutheodora commented on #39
@mhaidarh ... td belum kerefresh xD

[2016-04-07 12:59] mhaidarhanif commented on #39
@rutheodora Yowis lo edit semua yang belum.

[2016-04-07 13:25] muhpatr commented on #41
@rutheodora thank you for creating this SOW :D

[2016-04-07 13:31] muhpatr commented on #38
@mhaidarh Thank you for the correction!

[2016-04-07 13:37] #33 closed, assigned to rutheodora

[2016-04-07 13:49] muhpatr commented on #36
@mhaidarh Please check my last commit, thanks :+1:

[2016-04-07 13:58] #15 closed, assigned to ekkyvalent

[2016-04-07 14:04] muhpatr commented on #38
The document has been commited. May I close this issue? @mhaidarh

[2016-04-07 15:16] mhaidarhanif commented on #38
@muhpatr Hold it up.

[2016-04-07 15:17] mhaidarhanif commented on #38
@muhpatr You need to improve it a little, make each similar scenarios as a single scenario with variables.

[2016-04-07 15:17] mhaidarhanif commented on #36
@muhpatr Checking it...

[2016-04-07 15:42] mhaidarhanif commented on #36
@muhpatr Checked out and improved. Please pull the latest and close this issue.

[2016-04-07 15:42] mhaidarhanif commented on #37
@rutheodora Checked out and improved. Please pull the latest and close this issue.

[2016-04-07 15:42] mhaidarhanif commented on #38
@muhpatr You might need to tidy up your login feature file.

[2016-04-07 15:43] mhaidarhanif commented on #39
@rutheodora Checked out and improved. Please pull the latest and close this issue.

[2016-04-07 15:44] #36 closed, assigned to muhpatr

[2016-04-07 15:45] muhpatr commented on #38
@mhaidarh but there is some different condition. could not be generalized into a variable (because of different 'Then')

[2016-04-07 15:51] mhaidarhanif commented on #38
@muhpatr But some of them still could be generalized, for top **Scenario: User wants to use Arlin** and bottom scenario, separated.

[2016-04-07 15:51] mhaidarhanif commented on #38
@muhpatr You also need to be specific on your Scenario title. **User wants to use Arlin** is too ambiguous.

[2016-04-07 15:53] mhaidarhanif commented on #38
Try to combine all scenarios which have **Then user fails to log in** first, then move on to another.

[2016-04-08 04:05] #37 closed, assigned to rutheodora

[2016-04-08 04:05] #38 closed, assigned to muhpatr

[2016-04-08 04:05] #39 closed, assigned to rutheodora

[2016-04-09 10:15] rutheodora commented on #41
@muhpatr you're welcome ;), check this doc : https://docs.google.com/document/d/1US7PO45dlNsEzQYPxsd2CRt2bZ3QhMa1DSs6zPblODI/edit
I've already translated 10 questions. I think I will create a new .md file in asde-michi-test folder to put the questionnaire.

[2016-04-09 10:19] rutheodora commented on #41
@muhpatr:
![chocolate-pancake-cake-101](https://cloud.githubusercontent.com/assets/17141470/14403165/618decc6-fe77-11e5-9b66-876af0eb6382.jpg)
btw kita ga jadi ke perpus seberang?

[2016-04-09 15:04] muhpatr commented on #41
@rutheodora Already translated my part. What a beautiful pancake.........

[2016-04-11 05:25] #11 closed, assigned to ekkyvalent

[2016-04-12 07:44] #41 closed, assigned to muhpatr

[2016-04-12 07:44] #40 closed, assigned to rutheodora

[2016-04-13 07:38] muhpatr opened #42 "Data entry for Arlin initial content (Part A)"
- Kind: Statement of Work
- Title: Data entry for Arlin initial content (Part A)
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-04-13
- Version: 0.1
# SOW
## Overview

Data entry for fill in the initial content for Arlin website. I will work with @rutheodora to do this task.
## Tasks
- [x] Determining regions
- [x] Data entry based on the area of:
  - [x] North Jakarta
  - [x] West Ja

[2016-04-13 07:40] muhpatr opened #43 "Data entry for Arlin initial content (Part B)"
- Kind: Statement of Work
- Title: Data entry for Arlin initial content (Part B)
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-04-13
- Version: 0.1
# SOW
## Overview

Data entry for fill in the initial content for Arlin website. I will work with @muhpatr to do this task.
## Tasks
- [x] Determining regions
- [x] Data entry based on the area of:
  - [x] East Jakarta
  - [x] Central Jakar

[2016-04-13 08:15] muhpatr opened #44 "Create and spread online questionnaire (Part A)"
- Kind: Statement of Work
- Title: Create and spread online questionnaire
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-04-13
- Version: 0.1
# SOW
## Overview

I and @muhpatr will distribute the questionnaires for doing the User Acceptance Test. We will distribute them to Jabodetabek people.
## Tasks
- [x] Creating the online questionnaires via Typeform
- [x] Spread the questionnaires

[2016-04-13 08:17] muhpatr opened #45 "Create and spread online questionnaire (Part B)"
- Kind: Statement of Work
- Title: Create and spread online questionnaire
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-04-13
- Version: 0.1
# SOW
## Overview

I and @rutheodora will distribute the questionnaires for doing the User Acceptance Test. We will distribute them to Jabodetabek people.
## Tasks
- [x] Creating the online questionnaires via Typeform
- [x] Spread the questionna

[2016-04-13 13:07] ekkyvalent opened #46 "Prepare the slide for final presentation"
- Kind: Statement of Work
- Title: Prepare the slide for final presentation
- Author: <Your Full Name>
- Affiliation: Michi
- Date: 2016-04-13
- Version: 0.1
# SOW
## Overview

I will prepare the slide for the finals which will make use of [this repo](https://github.com/gunadarma-academy/asde-michi-slide) as the base. The final result will not differ much with the exception of complete features ex

[2016-04-13 15:03] mhaidarhanif commented on #35
@gunadarma-academy/michi Consider this as done. It's live at http://arlin.link

![alive](https://cdn.meme.am/instances/500x/60775980.jpg)

Meanwhile, I've been trying to implement the better version.

[2016-04-13 15:04] mhaidarhanif commented on #35
@muhpatr @rutheodora https://github.com/gunadarma-academy/asde-michi/issues/42 and https://github.com/gunadarma-academy/asde-michi/issues/43 can be started minimally.

Sebaiknya dites di beberapa orang dikit dulu, jadi cepet ketauan kalo ada bug/semacamnya. Kalo udah lebih stabil, barulah disebar ke lebih banyak orang.

[2016-04-13 15:05] mhaidarhanif commented on #35
In technical side, the current running app is actually run inside a Docker container :whale2:

![arlin-docker](https://cloud.githubusercontent.com/assets/235584/14498290/10759212-01c4-11e6-88de-2cc23c4e1aba.png)

[2016-04-13 15:08] #35 closed, assigned to mhaidarhanif

[2016-04-13 15:11] mhaidarhanif commented on #46
![final is coming](https://cdn.meme.am/instances/500x/67834780.jpg)

[2016-04-13 15:14] mhaidarhanif commented on #35
@muhpatr @rutheodora Please be noticed :warning: Finish #42 and #43 first, then you can proceed to spread about the app and its survey (#44 and #45).

[2016-04-13 15:15] mhaidarh commented on #44
@muhpatr @rutheodora Please be noticed :warning: Finish #42 and #43 first, then you can proceed to spread about the app and its survey.

[2016-04-13 15:15] mhaidarh commented on #45
@muhpatr @rutheodora Please be noticed :warning: Finish #42 and #43 first, then you can proceed to spread about the app and its survey.

[2016-04-13 15:27] mhaidarhanif commented on #12
One of the actual application implementation is running at http://arlin.link
But this SOW is still not considered as done. Because it's not using REST API yet.

[2016-04-18 10:56] #43 closed, assigned to rutheodora

[2016-04-18 10:57] #42 closed, assigned to muhpatr

[2016-04-18 11:19] mhaidarhanif commented on #42
@muhpatr
[mongodump-bsondump-20160418_111024.zip](https://github.com/gunadarma-academy/asde-michi/files/223613/mongodump-bsondump-20160418_111024.zip)

[2016-04-19 05:37] ekkyvalent opened #47 "Learn Vue.js for frontend app"
- Kind: Statement of Work
- Title: Learn Vue.js for frontend app
- Author: Ekky Pramana
- Affiliation: Michi
- Date: 2016-04-19
- Version: 0.1
# SOW
## Overview

Here is the part where I further learn about front-end development, which involves Vue.js, Reactive Components for Modern Web Interfaces.
## Tasks
- [x] Learn asic Vue JS syntax and stuffs
- [x] Learn authentication process using [this](h

[2016-04-19 07:46] muhpatr commented on #45
The online form can be accessed via http://bit.ly/arlinmichi
@rutheodora @mhaidarh

[2016-04-19 07:46] muhpatr commented on #44
The online form can be accessed via http://bit.ly/arlinmichi
@rutheodora @mhaidarh

[2016-04-19 08:21] mhaidarhanif commented on #45
@muhpatr
![image](https://images.unsplash.com/photo-1414115880398-afebc3d95efc)

[2016-04-19 09:21] muhpatr commented on #45
@mhaidarh
![arlin-icon](https://cloud.githubusercontent.com/assets/4652284/14634140/d4a719aa-064a-11e6-8441-74480083b02c.png)

[2016-04-19 11:03] mhaidarhanif commented on #47
[package-list.txt](https://github.com/gunadarma-academy/asde-michi/files/225742/package-list.txt)

[2016-04-19 11:17] mhaidarhanif commented on #12
Correction: Consider this as done. It's already functional.
But the new version is yet to come. Still WIP at http://dev.arlin.link

[2016-04-19 11:17] #12 closed, assigned to mhaidarhanif

[2016-04-19 11:18] #47 closed, assigned to ekkyvalent

[2016-04-19 11:26] mhaidarhanif opened #48 "Streamline testing suite for backend and frontend"
- Kind: Statement of Work
- Title: Streamline testing suite for backend and frontend
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-04/19
- Version: 0.2
# SOW
## Overview

A testing suite that is intended for Unit/Functional tests for both `backend` and `frontend` using Mocha, Chai, Jasmine, Karma, or other selected tools. Even Integration of End-to-End tests using Cucumber and its Ghe

[2016-04-19 11:46] mhaidarhanif opened #49 "Implement backend based on the new designated API and data"
- Kind: Statement of Work
- Title: Implement backend based on the new designated API and data
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-04-19
- Version: 0.1
# SOW
## Overview

Implement the most important backend features based on the new designated API endpoints and data schema/structures. Should prove the data process are working correctly in the app.
## Tasks
- [x] Make all the

[2016-04-19 11:48] mhaidarhanif opened #50 "Product Launch of Arlin v2"
- Kind: Epic
- Title: Product Launch of Arlin v2
- Author: Arlin
- Affiliation: Michi
- Date: 2016-04-19
- Version: 0.1
# SOW
## Overview

Launch Arlin v2, with better and faster modern app.
## Tasks

**Progressing**
- [x] Use Feathers and Vue.js for backend and frontend
- [x] Commence User Acceptance Test (UAT)
- [x] Create success criteria for this project
- [x] Create user manual

**Final**
- [

[2016-04-19 11:49] mhaidarhanif commented on #50
@gunadarma-academy/michi This _**EPIC**_ is made.

[2016-04-19 11:57] mhaidarhanif opened #51 "Create UAT success criteria for this project"
- Kind: Statement of Work
- Title: Create success criteria for this project
- Author: Patria and Ruth
- Affiliation: Michi
- Date: 2016-04-20
- Version: 0.1
# SOW
## Overview

Define the success criteria for our project based on the User Acceptance Test
## Tasks
- [x] Create the success criteria document
- [x] Define the success criteria in UAT section
- [x] Put some graph or table to the document

[2016-04-19 11:57] mhaidarhanif opened #52 "Create user manual of Arlin"
- Kind: Statement of Work
- Title: Create user manual of Arlin
- Author: Patria and Ruth
- Affiliation: Michi
- Date: 2016-04-20
- Version: 0.2
# SOW
## Overview

Make a user manual documentation. The document will explain about how to use the Arlin website
## Tasks
- [x] Discuss with @muhpatr about the documentation
- [x] Make the user manual documentation
- [x] Upload the documentation to our re

[2016-04-19 11:58] mhaidarhanif opened #53 "Group deliverables report of each SOW"
- Kind: Statement of Work
- Title: Group deliverables report of each SOW
- Author: Patria and Ruth
- Affiliation: Michi
- Date: 2016-04-21
- Version: 0.1
# SOW
## Overview

Create the document for all SOWs as the report.
## Tasks
- [x] Pick the finished milestones.
- [x] Create the document to our repo.
## Deliverables

The document will be pushed to our repo with the name `DELIVERABLES.markdown`

[2016-04-19 12:20] mhaidarhanif opened #54 "Test backend app with Mocha and Chai"
- Kind: Statement of Work
- Title: Test backend app with Mocha and Chai
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-04-19
- Version: 0.1
# SOW
## Overview

The backend app that is now using Vue.js needs to be unit/functionally tested with selected test suite. Presumably JSHint, Mocha, and Chai.
## Tasks
- [x] Properly look up for test scripts intended for unit/functional testing.
-

[2016-04-19 12:28] ekkyvalent opened #55 "Implement frontend based on the new designated routes, API, and data"
- Kind: Statement of Work
- Title: Implement frontend based on the new designated routes, API, and data
- Author: Ekky Pramana
- Affiliation: Michi
- Date: 2016-04-22
- Version: 0.2
# SOW
## Overview

Implement frontend features based on the new designated API endpoints and data schema/structures. Should prove the data process are working correctly in the app.
## Tasks
- [x] Make all the data coll

[2016-04-19 14:11] mhaidarhanif opened #56 "Create explanation on the current project structure"
- Kind: Statement of Work
- Title: Create explanation on the current project structure
- Author: M Haidar Hanif
- Affiliation: Michi
- Date: 2016-04-19
- Version: 0.1
# SOW
## Overview

Create a quick explanation on the current project structure. It now consists of parent repo (`asde-michi`) that contains documentation (`docs`) and design (`design`) assets. Several modules are for `slide`, `backen

[2016-04-19 14:42] #56 closed, assigned to mhaidarhanif

[2016-04-19 22:55] mhaidarhanif commented on #42
@muhpatr @rutheodora Untuk collection `preload-data`, formatnya diganti saja jadi lebih minimal layaknya parameter dengan urutan:

[code]

jadi seperti ini aja tiap file `question-x.json`:

[code]

Gue udah update question 1 & 2 buat contoh di `asde-michi-test` sehubungan ini.

[2016-04-20 02:47] muhpatr commented on #42
@mhaidarh di situ ga ada answer author. dan kayaknya mending pakai format json sebelumnya aja, lebih informatif dan rapi. cc: @rutheodora

[2016-04-20 04:13] mhaidarhanif commented on #42
@muhpatr Ohiya juga.
Iya si pat, tapi untuk masukin ke database-nya ternyata lebih cepet format minimal, kayak parameter.

[2016-04-20 04:15] mhaidarhanif commented on #42
Kalo ada answer author, jadi gini:

jadi seperti ini aja tiap file `question-x.json`:

[code]

[2016-04-20 04:16] mhaidarhanif commented on #42
Hmm oke kalo rada bingung _fallback_ ke format JSON yang normal. Even though it's a lot of work.

[2016-04-20 05:53] rutheodora opened #57 "Create the online spreadsheets for calculating and analyzing the questionnaire"
- Kind: Statement of Work
- Title: Create the online spreadsheets for calculating and analyzing the questionnaire
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-04-20
- Version: 0.1
# SOW
## Overview

This is part of the final task of UAT testing. After the questionnaires have been spread, the questionnaire response must be calculated and the result shall be analyzed.
## Tasks
- [x] Mak

[2016-04-20 06:04] rutheodora opened #58 "Calculate and analyze the result of online questionnaire (part A)"
- Kind: Statement of Work
- Title: Calculate and analyze the result of online questionnaire (part A)
- Author: Ruth Theodora
- Affiliation: Michi
- Date: 2016-04-20
- Version: 0.1
# SOW
## Overview

This is the final task of UAT testing. After the questionnaires have been spread, me and @muhpatr will put the responses to online spreadsheets and analyze the result.
## Tasks
- [x] Put and calculate

[2016-04-20 06:05] rutheodora opened #59 "Calculate and analyze the result of online questionnaire (part B)"
- Kind: Statement of Work
- Title: Calculate and analyze the result of online questionnaire (part A)
- Author: Muhammad Patria
- Affiliation: Michi
- Date: 2016-04-20
- Version: 0.1
# SOW
## Overview

This is the final task of UAT testing. After the questionnaires have been spread, me and @rutheodora will put the responses to online spreadsheets and analyze the result.
## Tasks
- [x] Put and calcu

[2016-04-20 06:18] rutheodora commented on #57
@muhpatr mohon cek email, ada yang gw share, thx

[2016-04-20 10:58] #57 closed, assigned to rutheodora

[2016-04-20 16:15] mhaidarhanif commented on #53
@muhpatr
Dengan bantuan burndown view dari ZenHub, dalam `DELIVERABLES.markdown` di folder `reports`, strukturnya seperti ini:

[code]

Yang baru bisa dikerjain untuk milestone yang udah selesai, ada 5 milestone & burndown.

[2016-04-20 16:25] mhaidarhanif commented on #51
@muhpatr @rutheodora
Bisa dibuat atau ditambahkan dalam `PRODUCT.markdown` di `docs`.
Seperti penjelasan yang udah dikasi tau ke Bu Lulu.
Dalam proyek Arlin, kriteria sukses utama untuk user berdasarkan UAT.
Nanti gue dan @ekkyvalent naro kriteria sukses juga yang terkait technical atau application.

[2016-04-22 08:42] mhaidarhanif commented on #55
@ekkyvalent I've added one important deliverable about ROUTES document.

[2016-04-22 08:48] mhaidarhanif opened #60 "Test frontend app with selected test suite"
- Kind: Statement of Work
- Title: Test frontend app with selected test suite
- Author: Ekky Pramana
- Affiliation: Michi
- Date: 2016-04-22
- Version: 0.1
# SOW
## Overview

The frontend app that is now using Vue.js needs to be unit/functionally tested with selected test suite. Presumably JSHint, Mocha, and Chai.
## Tasks
- [ ] Properly look up for test scripts intended for unit/functional testin

[2016-04-22 12:14] muhpatr commented on #52
It's done! The user manual can be found at [here](https://github.com/gunadarma-academy/asde-michi/blob/master/docs/USER-MANUAL.pdf). Onto the next one!

[2016-04-22 12:14] #52 closed, assigned to rutheodora

[2016-04-22 12:16] muhpatr commented on #58
The result can be seen on the success criteria document.

[2016-04-22 12:16] muhpatr commented on #59
The result can be seen on the success criteria document.

[2016-04-22 12:18] muhpatr commented on #44
The online form has been reached 50 respondents.

[2016-04-22 12:18] #44 closed, assigned to rutheodora

[2016-04-22 12:18] muhpatr commented on #45
The online form has been reached 50 respondents.

[2016-04-22 12:18] #45 closed, assigned to muhpatr

[2016-04-22 12:21] muhpatr commented on #53
@mhaidarh dar, kasih urutan dong milestone mana yang lebih dulu dikerjain (urutan milestonenya)

[2016-04-22 12:32] mhaidarhanif commented on #53
@muhpatr

[code]

[2016-04-22 12:38] muhpatr commented on #53
@mhaidarh thanks :+1:

[2016-04-22 12:53] mhaidarhanif commented on #53
@muhpatr @rutheodora @ekkyvalent  Untuk lihat EPIC, cek2 ke https://github.com/gunadarma-academy/asde-michi/issues/50

[2016-04-22 12:58] mhaidarhanif commented on #53
EPIC-nya cuma satu, mengandung Product Launch of Arlin v2, isinya terdapat 13 issues. Sudah 3 issues selesai. Sisanya 10 issues adalah dari milestone:
1. User Acceptance Testing
2. Product Roadmap for Arlin v2
3. Application Testing

[2016-04-22 21:48] mhaidarhanif commented on #48
Along with https://github.com/gunadarma-academy/asde-michi-test/commit/2091fdd72d17b112aabcd0545e4aa1c4bacf313a, this SOW is done.

[2016-04-22 21:48] #48 closed, assigned to mhaidarhanif

[2016-04-23 11:31] muhpatr commented on #53
![1-project-management-setup](https://cloud.githubusercontent.com/assets/4652284/14812230/78597342-0bc6-11e6-9be6-759ea3dd52e8.png)

![2-product-roadmap-for-arlin-v1](https://cloud.githubusercontent.com/assets/4652284/14812321/ea28f8bc-0bc6-11e6-8779-2c97b45e76ed.png)

![3-learning-the-basics](https://cloud.githubusercontent.com/assets/4652284/14812344/fed8bbda-0bc6-11e6-930d-6b79d353e564.png)

![

[2016-04-23 12:07] muhpatr commented on #53
@mhaidarh Learning the basic milestone kok ga ada di burndown?

[2016-04-23 12:33] mhaidarhanif commented on #53
@muhpatr Hmm iya juga. Bentar coba dicek.

[2016-04-23 12:40] mhaidarhanif commented on #53
@muhpatr Sekarang udah muncul pat: https://github.com/gunadarma-academy/asde-michi/milestones#burndown?milestoneId=4

[2016-04-23 12:40] muhpatr commented on #53
@mhaidarh sama ada bbrp SOW yg kyknya ga cocok ditaroh di suatu milestone. misal, issue 36 ke atas kyknya kurang cocok ditaruh di Product Roadmap for Arlin v1, karna jaraknya jauh bgt sm issue sblmnya.

[2016-04-23 12:41] mhaidarhanif commented on #53
Lah iya itu mestinya masuk ke Product Roadmap v2

[2016-04-23 12:41] mhaidarhanif commented on #53
Iya #36 sampai #41 mestinya masuk milestone v2. Lo pindahin deh.

[2016-04-23 12:44] muhpatr commented on #53
@mhaidarh sekalian cek milestone lain deh coba. sama bingung nentuin start sm due date nya. bbrp ada yg kyknya kejauhan, ada yg salah satu issue jd ga muncul, kyk #32 di Project Management Setup (btw, ini Project Management Setup kok jd ilang)

[2016-04-23 15:58] mhaidarhanif commented on #53
@muhpatr Kalo ada yang ga muncul, coba reopen terus close milestone itu. Kayaknya bug dari ZenHub.

[2016-04-23 15:58] mhaidarhanif commented on #53
@muhpatr Untuk tanggal, dikira-kira aja pat kalo mau dimodifikasi.

[2016-04-23 16:01] mhaidarhanif commented on #53
Ini udah muncul lagi yang PM Setup: https://github.com/gunadarma-academy/asde-michi/issues/53#burndown?milestoneId=3

Tapi pasti ada milestone lain yang ilang, lo reopen aja

[2016-04-23 16:03] muhpatr commented on #53
@mhaidarh terus yg #32 ditaruh dmn? kyknya kurang cocok klo di setup, soalnya jauh range tanggalnya

[2016-04-23 16:24] mhaidarhanif commented on #53
Memang si, tapi kan itu sudah selesai, sedangkan App Testing dan UAT milestone belum. Paling alternatif taro Product Roadmap for Arlin v1 atau Product Roadmap for Arlin v2. Gapapa sebenernya agak kejauhan tanggal, soalnya range penggunaannya termasuk lebar.

Yang penting lo udah ambil semua screenshot dulu ya.

[2016-04-23 16:32] muhpatr commented on #59
![data-analysis-uat](https://cloud.githubusercontent.com/assets/4652284/14762705/90b0e3b6-09ab-11e6-8bee-d61c2853a3c7.png)

[2016-04-23 16:34] muhpatr commented on #59
![data-result](https://cloud.githubusercontent.com/assets/4652284/14762717/e44b888c-09ab-11e6-8493-66d994cff855.png)

[2016-04-23 16:35] mhaidarhanif commented on #53
#32 jadi tetap di Setup

[2016-04-23 16:49] mhaidarhanif commented on #59
:+1:

[2016-04-23 16:50] rutheodora commented on #58
![img_1_respondents_by_age](https://cloud.githubusercontent.com/assets/17141470/14762787/18123240-09ae-11e6-97cb-d48982ca57c4.png)
![img_2_respondents_by_city](https://cloud.githubusercontent.com/assets/17141470/14762786/18121256-09ae-11e6-9dc2-fa3d4590ac59.png)
![img_3_respondents_by_gender](https://cloud.githubusercontent.com/assets/17141470/14762783/1810ba8c-09ae-11e6-8941-a55fbdc1d37f.png)
![i

[2016-04-23 16:57] muhpatr commented on #59
![data-gender](https://cloud.githubusercontent.com/assets/4652284/14762814/e8a12880-09ae-11e6-98f5-ab195c54a631.png)
![data-city](https://cloud.githubusercontent.com/assets/4652284/14762818/edf1a2ce-09ae-11e6-8b87-a69898d3c085.PNG)
![data-age](https://cloud.githubusercontent.com/assets/4652284/14762821/f4660884-09ae-11e6-9ddf-78f0ee8a0765.PNG)
![data-education](https://cloud.githubusercontent.com/

[2016-04-23 17:28] #58 closed, assigned to rutheodora

[2016-04-23 17:29] muhpatr commented on #58
It's done! The document can bee seen [here](https://github.com/gunadarma-academy/asde-michi-test/blob/master/USER-ACCEPTANCE-TEST-ANALYSIS.markdown).

[2016-04-23 17:30] muhpatr commented on #59
It's done! The document can bee seen [here](https://github.com/gunadarma-academy/asde-michi-test/blob/master/USER-ACCEPTANCE-TEST-ANALYSIS.markdown).

[2016-04-23 17:30] #59 closed, assigned to muhpatr

[2016-04-25 06:43] rutheodora commented on #51
@mhaidarh @muhpatr dar berhubung gw udah ada hasil analisis di https://github.com/gunadarma-academy/asde-michi-test/blob/master/USER-ACCEPTANCE-TEST-ANALYSIS.markdown untuk yang kriteria sukses untuk UATnya ngambil kalimat2 yang udah gw buat disitu dan cuma nambahin **kalo target minimal kita 70%**

[2016-04-25 08:21] ekkyvalent opened #61 "Create Usability Test Documentation"
- Kind: Statement of Work
- Title: Create Usability Test Documentation
- Author: Ekky Pramana
- Affiliation: Michi
- Date: 2016-04-25
- Version: 0.1
# SOW
## Overview

To create a documentation for usability test held as a compliment to user acceptance test. Usability testing refers to evaluating a product or service by testing it with representative users. Typically, during a test, participants w

[2016-04-25 08:37] mhaidarhanif commented on #51
@rutheodora Oke sip.

[2016-04-25 10:50] mhaidarhanif commented on #46
Assigned for every member (@gunadarma-academy/michi)

[2016-04-26 08:37] #49 closed, assigned to mhaidarhanif

[2016-04-26 08:37] #54 closed, assigned to mhaidarhanif

[2016-04-26 09:27] rutheodora commented on #58
![img_9_likert_scale_average](https://cloud.githubusercontent.com/assets/17141470/14813423/cffe8b00-0bcb-11e6-9106-b88ff0527880.png)
![img_10_success_variable](https://cloud.githubusercontent.com/assets/17141470/14813422/cffdf0a0-0bcb-11e6-8ea5-3f7ec7076d1c.png)

[2016-04-26 09:51] #51 closed, assigned to rutheodora

[2016-04-27 08:13] #60 closed, assigned to ekkyvalent

[2016-04-27 08:13] #61 closed, assigned to ekkyvalent

[2016-04-27 08:14] #55 closed, assigned to ekkyvalent

[2016-04-27 10:03] mhaidarh commented on #46
Arlin - Pitch Deck: http://bit.ly/arlindeck

[2016-04-27 10:03] mhaidarhanif commented on #46
Arlin - Pitch Deck: http://bit.ly/arlindeck

[2016-04-27 10:03] #46 closed, assigned to nobody

[2016-04-27 23:32] #53 closed, assigned to muhpatr

[2016-04-27 23:33] mhaidarhanif commented on #50
@gunadarma-academy/michi Closed for today's exam.

[2016-04-27 23:33] #50 closed, assigned to nobody